body {
    margin: 0;
    background-color: #fafafa;
    font-family: open-sans;
}
.head {
    background-color: #fafafa;
    padding: 15px;
  }
  .head .ul {
    float: right;
    color: black;
  }
  .head .li {
    display: inline-block;
    padding: 5px 5px;
  }
  .head .h2 {
    display: inline-block;
    padding: 2%;
  }
nav {
    background-color: #f3f3f3;
    padding: 0;
    border: ridge;
}
nav ul {
    color:rgb(0, 0, 0) ;
    text-align: center;
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 5px;
}
nav li {
    display: inline-block;
    padding: 5px 5px;
}
nav p {
    display: inline-block;
}
/* .timesheet {
    padding-left: 60%;
    text-align: center;
}
.sheet {
    border: solid;
    padding: 50px;
}
.RTS {
    border: solid;
    padding: 5px;
    margin-right: 250px;
    margin-left: 250px;
} */
.split {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4%;
    padding-bottom: 10%;
}
.left {
    align-items: center;
    border: solid #fafafa;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}
.left h1 {
    text-align: center;
}
.right {
    align-content: center;
    border: solid #fafafa;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}
.right h1 {
    text-align: center;
}


footer {
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 0;
}
.link {
    text-align: center;
}
.link li {
    display: inline-block;
    padding: 5px 5px;
}
.link p {
    display: inline-block;
}
.link ul {
    margin-bottom: 0;
    margin-top: 1px;
}